{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-3">
        <p>Užsisakyti prekę galima spustelėjus nuorodą "Naujas užsakymas". <br/>
           Visų užsakymų sąrašas pateiktas nuorodoje "Užsakymų sąrašas". <br/>
           Užsakymų sąraše paspaudę ant užsakymo numerio būsite nukrepti į užsakymo informacijos puslapį.
        </p>
    </div>
{% endblock %}

